@import '../../App.scss';

.practice__section {
    max-width: 70vw;
    margin: 150px auto;
}

.practice-option__container {
    display: flex;
    justify-content: space-between;
}
.practice__container {
    margin: 50px auto;
}
.practice__header {
    position: relative;
    h5 {
        color: $primaryColor;
        font-size: 1rem;
    }
    margin: 50px 0 80px 0;
    h1 {
        font-size: 3rem;
        font-weight: 700;
    }
    p {
        color: $secondTextColor;
        font-weight: 600;
        line-height: 1.4rem;

    }
}

.practice-option__block {
    &:hover {
        background: $primaryColor;
        transform: scale(1.1);
        .icon__box, span {
            background: white;
            color: $primaryColor;
            border-color: white;
            .sentiment__icon, .done__icon, .credit-card__icon, .tune__icon{
                color: $primaryColor;
            }
        }
        h5, p {
            color: white;
        }
    }
    height: 350px;
    width: 300px;
    box-shadow: 0 10px 20px 0 #d4d4d4;
    box-sizing: border-box;
    padding: 60px 60px 0 60px;
    h5 {
        font-weight: 700;
        font-size: 1rem;
    }
    span{
        height: 1px;
        width: 60px;
        background-color: #E74040;
        border: 1px solid #E74040;
        border-radius: 25%;
        margin-bottom: 20px;
        display: block;
    }
    p {
        color: $secondTextColor;
        font-weight: 600;
        line-height: 1.2rem;
    }
}
.practice-option__block {
    margin-right: 40px;
}
.practice-option__block:last-of-type {
    margin-right: 0px;
}
.icon__box {
    width: 70px;
    height: 70px;
    background-color: $secondaryColor;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    &--blue {
        background: $secondaryColor;
    }
    &--green {
        background: #B9EAA8;
    }
    &--grey {
        background: #aca8a8;
    }
    &--pink {
        background: #f19696a8;
    }
}

.sentiment__icon {
    color: $primaryColor;
}

.done__icon {
    color: #2DC071;
}

.credit-card__icon__icon {
    color: #161515a8;
}
.tune__icon {
    color: #E74040;
}
