@import '../../App.scss';

.contact__container {
  max-width: 70vw;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    h5 {
      color: $primaryColor;
      font-size: 0.8rem;
      font-weight: 700;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 10px auto
    }
    p{
      font-size: 0.8rem;
      line-height: 1.25rem;
      color: $secondTextColor;
      font-weight: 400;
    }
    }
  .contact__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 58px;
    border-radius: 5px;
    //border: 1px solid #E6E6E6;
    .address__field {
      background: #F9F9F9;
      width: 100%;
      border: 1px solid #E6E6E6;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 1rem;
      color: $secondTextColor;
      padding: 20px;
      &:focus {
        border: 1px solid $primaryColor;
        outline: none;
      }
    }
    .subscribe__button {
      background: $primaryColor;
      color: white;
      text-transform: capitalize;
      border: 1px solid #E6E6E6;
      box-sizing: border-box;
      border-radius: 0px 5px 5px 0px;
      box-shadow: none;
    }
  }
  .greeting-text__box {
    font-weight: 600;
    color: $secondTextColor;
    border: 1px solid $primaryColor;
    background: $secondaryColor;
    width: 60%;
    margin: 10px auto;
    border-radius: 5px;
    line-height: 1.5rem;
  }
}