@import '../../App.scss';

.experts__container {
    margin: 200px auto;
    max-width: 70vw;
    .experts__header {
      h5 {
          font-size: 0.8rem;
          color: $primaryColor;
          font-weight: 700;
      }
      h1 {
          font-size: 2.25rem;
          font-weight: 700;
      }
      p {
          font-weight: 400;
          font-size: 0.8rem;
          color: $secondTextColor;
          line-height: 1.25rem;
      }
    }
    .experts-review__box {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
      .expert-review__block {
          display: flex;
          flex-direction: column;
          align-items: center;
          .expert__picture {
              width: 8rem;
              height: 8rem;
              border-radius: 50%;
              object-fit: cover;
              &--first{
                  object-position: 80% 40%;
              }
              &--second{
                  object-position: 80% 80%;
              }
          }
          .review__text {
              text-align: center;
              font-size: 0.8rem;
              color: $secondTextColor;
              line-height: 1.25rem
          }
          .rating__line {
            .star__icon {
              color: #F3CD03;
            }
          }
          .name__text {
              font-size: 1rem;
              font-weight: 700;
          }
          .role__text{
              color: $secondTextColor;
              font-size: 0.8rem;
              font-weight: 700;
          }
      }
    }
    
}